@import 'variables';
@import 'mixins';

footer {
  background-color: $darker-color;

  width: 100%;
  min-height: 5em;
  z-index: -1;

  * {
    color: $light-color;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
  }

  .icon {
    margin: 0 0.5em;
  }

  .links {
    display: flex;
    flex-direction: column;

    * {
      margin-bottom: 0.75rem;
    }
  }
}

@include for-phone-only {
  footer {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
