#side-menu .panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 4em 2em;
  background-color: white;
  z-index: 2;

  a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em 0;
  }
}

#side-menu .menu-icon {
  padding: 1em;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
}
